__pycache__/
.parquet/
volumes/
.corpus/
.data/
.graph_rag/
.tmp/
.txt/
*.txt
.env
graph_rag/*
graph_rag_multihop/
graph_rag_sample/
graph_rag_embedding_experimental/
!graph_rag/output/20240825-164936/artifacts/
graph_rag/output/20240825-164936/artifacts/*
!graph_rag/output/20240825-164936/artifacts/**
!graph_rag/settings.yaml
!graph_rag/prompts/
